vim/vim/tmp/**
!vim/vim/tmp/backup/.keep
!vim/vim/tmp/undo/.keep
!vim/vim/tmp/swap/.keep

bin/*

virtualenv/envs
virtualenv/hooks/*
!virtualenv/hooks/postactivate
!virtualenv/hooks/postmkvirtualenv

hg/extensions/*
