[submodule "vim/vim/bundle/minibufexpl"]
	path = vim/vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/unimpaired"]
	path = vim/vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/vim/bundle/git"]
	path = vim/vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vim/bundle/threesome"]
	path = vim/vim/bundle/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "vim/vim/bundle/command-t"]
	path = vim/vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/python"]
	path = vim/vim/bundle/python
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/vim/bundle/quickfixstatus"]
	path = vim/vim/bundle/quickfixstatus
	url = git://github.com/dannyob/quickfixstatus.git
[submodule "vim/vim/bundle/cabal"]
	path = vim/vim/bundle/cabal
	url = http://github.com/Twinside/vim-syntax-haskell-cabal
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/badwolf"]
	path = vim/vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
